.row {
  margin: 0 auto;
  max-width: 85.71429em;
  width: 100%;
}
div {
  margin: 0;
  padding: 0;
}
div.wpb_row {
  margin: 0;
}
.vc_custom_1441816065210 {
  margin-top: 40px !important;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .vc_col-sm-12 {
    width: 100%;
  }
}
.vc_custom_1422465694522 {
  margin-bottom: 50px !important;
}
.wpb_text_column {
  margin-bottom: 0;
}
@media only screen and (min-width: 64.0625em) {
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
}
@media only screen and (min-width: 64.0625em) {
  .large-12 {
    width: 100%;
  }
}
.text-center {
  text-align: center !important;
}
.table-div {
  height: 100%;
  min-height: 500px;
}
.vc_custom_1422697257843 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  background-color: #ffffff !important;
}
.vc_col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  box-sizing: border-box;
}
.vc_col-sm-6 {
  float: left;
}
@media (min-width: 768px) {
  .vc_col-sm-6 {
    width: 50%;
  }
}
.vc_custom_1462381335726 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
div.wpcf7 {
  margin: 0;
  padding: 0;
}
div.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}
.form {
  margin: 0;
  padding: 0;
}
element.style {
  display: none;
}
input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}
p {
  margin: 0;
  padding: 0;
}
p {
  font-weight: normal;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
p {
  line-height: 1.714;
  font-size: 15px;
}
.wpcf7-form-control {
  padding: 12px 110px;
}
.button {
  transition: .4s;
  text-transform: uppercase;
  font-size: 13px;
}
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input.wpcf7-submit {
  border: medium none;
  padding: 10px;
  color: #fff;
}
input.wpcf7-submit {
  box-shadow: none;
  border-radius: 0;
}
input.wpcf7-submit {
  background: #106EAA;
}
.button:hover {
  color: #fff;
}
.button:hover {
  background-color: #106EAA;
  border-color: #106EAA;
  padding-left: 30px;
  padding-right: 30px;
}
