.type div {
  padding: 0;
}
.type .row {
  margin: 0 auto;
  max-width: 85.71429em;
  width: 100%;
}
.type form {
  margin: 0;
  padding: 0;
}
.type table {
  background: #fff;
  table-layout: auto;
}
.type table {
  border-spacing: 0;
}
.type .woocommerce table.shop_table {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}
.type table tr th {
  text-align: left;
}
.type table thead {
  background: #106eaa;
}
.type table thead tr th {
  color: #222;
  font-size: 0.875rem;
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table th {
  font-weight: 700;
  padding: 9px 12px;
  font-size: 15px;
}
.type .woocommerce-cart table.cart th {
  vertical-align: middle;
}
.type table tr td {
  color: #222;
  font-size: 0.875rem;
  text-align: left;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type .woocommerce a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  border: 0;
}
.type .woocommerce table.cart a.remove,
.type .woocommerce-page table.cart a.remove {
  font-weight: 300;
}
.type table tr td {
  color: #222;
  font-size: 0.875rem;
  text-align: left;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type a {
  background-color: transparent;
}
.type a {
  color: #106EAA;
  line-height: inherit;
  text-decoration: none;
}
.type a {
  color: #106eaa;
}
.type img {
  display: inline-block;
  vertical-align: middle;
}
.type .woocommerce img,
.type .woocommerce-page img {
  max-width: 100%;
}
.type .attachment-shop_thumbnail {
  border: 1px solid #ccc;
}
.type .woocommerce table.cart img,
.type .woocommerce-page table.cart img {
  height: auto;
  width: 32px;
  box-shadow: none;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce-cart table.cart td,
.type .woocommerce-cart table.cart th {
  vertical-align: middle;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type .woocommerce .product-name a {
  color: #2ba6cb;
  font-weight: 600;
}
.type .amount {
  margin-left: 10px;
  margin-right: 10px;
}
.type .woocommerce td.product-quantity {
  min-width: 80px;
}
.type .woocommerce .quantity .qty {
  width: 5em;
  text-align: center;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce .quantity input.qty,
.type .woocommerce-page .quantity input.qty {
  border-radius: 0;
  height: 36px;
  display: inline;
  border-width: 1px;
  float: none;
}
.type input[type="number"] {
  -webkit-appearance: none;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  color: rgba(0,0,0,0.75);
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.15s linear, background 0.15s linear;
}
.type label {
  color: #4d4d4d;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
.type .woocommerce table.cart td.actions .coupon label,
.type .woocommerce-page table.cart td.actions .coupon label {
  display: none;
}
.type .woocommerce table.cart td.actions .input-text,
.type .woocommerce-page table.cart td.actions .input-text {
  width: 80px;
  padding-bottom: 11px;
  font-size: 15px;
}
.type .woocommerce-cart table.cart td.actions .coupon .input-text {
  float: left;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  line-height: 1;
}
.type .woocommerce-cart table.cart td.actions .coupon .input-text:hover {
  background: #d3ced2;
}
.type table.cart td.actions,
.type .woocommerce-page table.cart td.actions {
  text-align: right;
}
.type .woocommerce table.cart td.actions .coupon,
.type .woocommerce-page table.cart td.actions .coupon {
  float: left;
}
.type input {
  font: inherit;
}
.type .button {
  text-align: center;
  background: transparent;
  transition: .4s;
  text-transform: uppercase;
}
.type .woocommerce input.button {
  font-size: 100%;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  left: auto;
  background-color: #ebe9eb;
  white-space: nowrap;
  display: inline-block;
}
.type .woocommerce input.button,
.type .woocommerce-page input.button {
  background-image: none;
  border: medium none;
  box-shadow: none;
}
.type .woocommerce input.button,
.type .woocommerce-page input.button {
  border-radius: 0;
  color: #FFF;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce input.button {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  left: auto;
  background-color: #ebe9eb;
  white-space: nowrap;
  display: inline-block;
  text-shadow: none;
}
.type .woocommerce .cart .button,
.type .woocommerce .cart input.button {
  float: none;
  font-size: 13px;
  margin: 4px;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce input.button:hover,
.type .woocommerce-page input.button:hover {
  background-image: none;
  background-color: #7C7A7A;
}
.type .woocommerce .cart-collaterals .cart_totals,
.type .woocommerce-page .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
}
.type h2 {
  color: #222;
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}
.type .woocommerce h2 {
  font-size: 1.4em;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
}
.type .woocommerce .cart_totals > table {
  width: 100%;
}
.type table tr th {
  color: #222;
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
  text-align: left;
}
.type .woocommerce table.shop_table th {
  padding: 9px 12px;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table th {
  width: 40%;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table th {
  vertical-align: top;
  border-left: 0;
  border-right: 0;
  line-height: 1.5em;
}
.type .cart-subtotal > td {
  width: 6%;
}
.type .amount {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
.type .woocommerce-cart .wc-proceed-to-checkout {
  padding: 1em 0;
}
.type .button {
  transition: .4s;
  text-transform: uppercase;
}
.type .woocommerce a.button {
  margin: 0;
  line-height: 4;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  left: auto;
  white-space: nowrap;
  text-shadow: none;
  text-align: center;
  padding: 20px 200px;
  height: 70px;
  background: #106EAA;
}
.type a {
  color: #fff;
}
.type .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.25em;
  padding: 1em;
}
.type .woocommerce-page a.button.alt,
.type .woocommerce a.button:hover,
.type .woocommerce-page a.button:hover {
  background: #106eaa;
}
.type .woocommerce a.button.alt:hover {
  background-color: #935386;
  color: #fff;
}
.type wc-proceed-to-checkout {
  text-align: center;
  padding: 20px;
  height: 70px;
  background: red;
}
