.type header {
  background: #0a3f66;
}
.type header .header-left ul {
  font-size: 16px;
}
.type header .header-left ul li {
  display: block;
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.type header .header-left ul li i {
  color: #ffffff;
  margin: 0 2px;
}
.type header .header-right .contact-info {
  color: #ffffff;
  margin-right: 20px;
  font-size: 13px;
  float: right;
}
.type header .header-right .contact-info i {
  font-size: 1.4em;
  padding-right: 4px;
  margin: 10px;
}
.type header .header-right .contact-info .fa-phone {
  margin-left: 10px;
}
.type header .header-right .langset {
  float: right;
}
.type header .header-right .langset ul li {
  float: none;
  list-style: none;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 0;
  position: relative;
}
.type header .header-right .langset ul li a {
  padding: 10px;
  color: #888;
}
.type header .header-right .langset ul li a:hover {
  color: #555;
}
.type header .header-right .langset ul li .list-lang {
  left: 0;
  background-color: #FFF;
  margin: 0px;
  opacity: 0;
  position: absolute;
  top: 111%;
  transform: translateX(-20px);
  transition: all 0.3s ease-in;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.17);
}
.type header .header-right .langset ul li .list-lang li {
  margin: 0;
}
.type header .header-right .langset ul li .list-lang li li:last-child {
  border-top: 1px solid #f2f2f2;
}
.type header .header-right .langset ul li .list-lang li a {
  color: #686868 !important;
  display: block;
  transition: all 0.3s ease-in;
  padding: 8px 10px 8px 10px;
}
.type header .header-right .langset ul li .list-lang li a:hover {
  background: rgba(0,0,0,0.2) !important;
  color: #fff !important;
}
.type header .header-right .langset ul li:hover .list-lang {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
.type header .header-navigator {
  z-index: 10;
  padding-bottom: 30px;
  position: relative;
  background-color: #ffffff;
}
.type header .header-navigator .logo {
  display: inline-block;
  margin-top: 30px;
  margin-right: 50px;
  transition: all 0.5s;
  margin-left: 7px;
}
.type header .header-navigator .menu-nav {
  transition: all 0.5s;
  float: right;
  margin-top: -25px;
  list-style: none;
}
.type header .header-navigator .menu-nav li {
  position: relative;
  float: left;
}
.type header .header-navigator .menu-nav li a {
  color: #888888;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 16px !important;
}
.type header .header-navigator .menu-nav li a:hover {
  color: #cccccc;
}
.type header .header-navigator .menu-nav li .dropdown {
  background: #FFF;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  left: 0;
  right: auto;
  min-width: 200px;
  position: absolute;
  width: auto;
  overflow: visible;
  clip: auto;
  display: block;
  top: 30px;
  display: none;
}
.type header .header-navigator .menu-nav li .dropdown li {
  float: none;
  height: auto;
  width: 100%;
  margin: 10px 0;
}
.type header .header-navigator .menu-nav li .dropdown li a {
  padding: 0 13px !important;
}
.type header .header-navigator .menu-nav li:hover .dropdown {
  display: block;
}
.type header .header-navigator .home-cta {
  margin-top: 30px;
  transition: all 1s;
  background: #106EAA;
  padding: 14px 30px;
  height: 46px;
  border: medium none;
  border-radius: 2px;
  margin-left: 75px;
  color: #ffffff;
  font-weight: 800;
  float: right;
  vertical-align: middle;
  margin-right: 10px;
}
.type header .header-navigator .menu-icon {
  transition: all 0.5s;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.type header .header-navigator .menu-icon a {
  color: #777777;
  padding: 0 2.5rem 0 0.9375rem;
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.type header .header-navigator .menu-icon a span {
  top: 3px;
}
.type header .header-navigator .menu-icon a i {
  color: #000;
  font-size: 25px;
  padding-left: 3px;
  margin-top: 5px;
}
@media (min-width: 900px) {
  .type .menu-icon {
    transform: translateX(20px);
    transition: all 0.5s ease-in;
    visibility: hidden;
    opacity: 0;
  }
  .type .menu-nav,
  .type .home-cta {
    display: block !important;
  }
}
@media (max-width: 899px) {
  .type .menu-icon {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    top: 30px;
  }
  .type .menu-nav,
  .type .home-cta,
  .type .contact-info {
    display: none;
  }
  .type .header-left {
    display: inline-block;
    float: left;
  }
  .type .menu-nav {
    float: none !important;
    transition: none !important;
  }
  .type .menu-nav li {
    float: none !important;
  }
  .type .menu-nav li .dropdown {
    z-index: 5;
    background-color: #FFF;
    top: -9px !important;
    left: 60px !important;
  }
}
@media (max-width: 380px) {
  .type .header-navigator {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .type .menu-icon {
    top: 10px;
  }
  .type .logo {
    margin: 0 !important;
  }
  .type .logo img {
    width: 70%;
  }
}
@media (max-width: 1199px) {
  .type .menu-nav {
    margin-top: 20px !important;
    margin-bottom: 0px;
  }
}
.type div {
  padding: 0;
}
.type .row {
  margin: 0 auto;
  max-width: 85.71429em;
  width: 100%;
}
.type form {
  margin: 0;
  padding: 0;
}
.type table {
  background: #fff;
  table-layout: auto;
}
.type table {
  border-spacing: 0;
}
.type .woocommerce table.shop_table {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}
.type table tr th {
  text-align: left;
}
.type table thead {
  background: #106eaa;
}
.type table thead tr th {
  color: #222;
  font-size: 0.875rem;
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table th {
  font-weight: 700;
  padding: 9px 12px;
  font-size: 15px;
}
.type .woocommerce-cart table.cart th {
  vertical-align: middle;
}
.type table tr td {
  color: #222;
  font-size: 0.875rem;
  text-align: left;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type .woocommerce a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  border: 0;
}
.type .woocommerce table.cart a.remove,
.type .woocommerce-page table.cart a.remove {
  font-weight: 300;
}
.type table tr td {
  color: #222;
  font-size: 0.875rem;
  text-align: left;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type a {
  background-color: transparent;
}
.type a {
  color: #106EAA;
  line-height: inherit;
  text-decoration: none;
}
.type a {
  color: #106eaa;
}
.type img {
  display: inline-block;
  vertical-align: middle;
}
.type .woocommerce img,
.type .woocommerce-page img {
  max-width: 100%;
}
.type .attachment-shop_thumbnail {
  border: 1px solid #ccc;
}
.type .woocommerce table.cart img,
.type .woocommerce-page table.cart img {
  height: auto;
  width: 32px;
  box-shadow: none;
}
.type table tbody tr td,
.type table tr td {
  display: table-cell;
  line-height: 1.125rem;
}
.type .woocommerce-cart table.cart td,
.type .woocommerce-cart table.cart th {
  vertical-align: middle;
}
.type .woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
}
.type .woocommerce .product-name a {
  color: #2ba6cb;
  font-weight: 600;
}
.type .amount {
  margin-left: 10px;
  margin-right: 10px;
}
.type .woocommerce td.product-quantity {
  min-width: 80px;
}
.type .woocommerce .quantity .qty {
  width: 5em;
  text-align: center;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce .quantity input.qty,
.type .woocommerce-page .quantity input.qty {
  border-radius: 0;
  height: 36px;
  display: inline;
  border-width: 1px;
  float: none;
}
.type input[type="number"] {
  -webkit-appearance: none;
  background-color: #fff;
  border-style: solid;
  border-color: #ccc;
  color: rgba(0,0,0,0.75);
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.15s linear, background 0.15s linear;
}
.type label {
  color: #4d4d4d;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}
.type .woocommerce table.cart td.actions .coupon label,
.type .woocommerce-page table.cart td.actions .coupon label {
  display: none;
}
.type .woocommerce table.cart td.actions .input-text,
.type .woocommerce-page table.cart td.actions .input-text {
  width: 80px;
  padding-bottom: 11px;
  font-size: 15px;
}
.type .woocommerce-cart table.cart td.actions .coupon .input-text {
  float: left;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  padding: 6px 6px 5px;
  margin: 0 4px 0 0;
  outline: 0;
  line-height: 1;
}
.type .woocommerce-cart table.cart td.actions .coupon .input-text:hover {
  background: #d3ced2;
}
.type table.cart td.actions,
.type .woocommerce-page table.cart td.actions {
  text-align: right;
}
.type .woocommerce table.cart td.actions .coupon,
.type .woocommerce-page table.cart td.actions .coupon {
  float: left;
}
.type input {
  font: inherit;
}
.type .button {
  text-align: center;
  background: transparent;
  transition: .4s;
  text-transform: uppercase;
}
.type .woocommerce input.button {
  font-size: 100%;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  left: auto;
  background-color: #ebe9eb;
  white-space: nowrap;
  display: inline-block;
}
.type .woocommerce input.button,
.type .woocommerce-page input.button {
  background-image: none;
  border: medium none;
  box-shadow: none;
}
.type .woocommerce input.button,
.type .woocommerce-page input.button {
  border-radius: 0;
  color: #FFF;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce input.button {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  left: auto;
  background-color: #ebe9eb;
  white-space: nowrap;
  display: inline-block;
  text-shadow: none;
}
.type .woocommerce .cart .button,
.type .woocommerce .cart input.button {
  float: none;
  font-size: 13px;
  margin: 4px;
}
.type .woocommerce-cart table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1;
}
.type .woocommerce input.button:hover,
.type .woocommerce-page input.button:hover {
  background-image: none;
  background-color: #7C7A7A;
}
.type .woocommerce .cart-collaterals .cart_totals,
.type .woocommerce-page .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
}
.type h2 {
  color: #222;
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}
.type .woocommerce h2 {
  font-size: 1.4em;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
}
.type .woocommerce .cart_totals > table {
  width: 100%;
}
.type table tr th {
  color: #222;
  font-size: 0.875rem;
  padding: 0.5625rem 0.625rem;
  text-align: left;
}
.type .woocommerce table.shop_table th {
  padding: 9px 12px;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table th {
  width: 40%;
}
.type .woocommerce-cart .cart-collaterals .cart_totals table th {
  vertical-align: top;
  border-left: 0;
  border-right: 0;
  line-height: 1.5em;
}
.type .cart-subtotal > td {
  width: 6%;
}
.type .amount {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
.type .woocommerce-cart .wc-proceed-to-checkout {
  padding: 1em 0;
}
.type .button {
  transition: .4s;
  text-transform: uppercase;
}
.type .woocommerce a.button {
  margin: 0;
  line-height: 4;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  left: auto;
  white-space: nowrap;
  text-shadow: none;
  text-align: center;
  padding: 20px 200px;
  height: 70px;
  background: #106EAA;
}
.type a {
  color: #fff;
}
.type .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.25em;
  padding: 1em;
}
.type .woocommerce-page a.button.alt,
.type .woocommerce a.button:hover,
.type .woocommerce-page a.button:hover {
  background: #106eaa;
}
.type .woocommerce a.button.alt:hover {
  background-color: #935386;
  color: #fff;
}
.type wc-proceed-to-checkout {
  text-align: center;
  padding: 20px;
  height: 70px;
  background: red;
}
footer {
  margin-top: 50px;
  background-color: #272727;
}
footer h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
footer p {
  font-family: inherit;
  font-size: 1em;
  margin-bottom: 1.42857em;
  color: #FFF;
}
footer .footermin1 {
  margin-top: 40px;
}
footer .footermin2 {
  margin-top: 40px;
}
footer .footermin2 a:hover {
  text-decoration: underline;
  color: #AAA;
}
footer .footermin2 a {
  color: #AAA;
}
footer .footermin2 p i {
  margin-right: 5px;
}
footer .footermin3 {
  margin-top: 40px;
}
footer .footermin3 .post-title ul {
  padding-left: 0px;
  line-height: 1.6;
  list-style: none;
}
footer .footermin3 .post-title ul li {
  padding-bottom: 10px;
}
footer .footermin3 .post-title ul li .pic-post {
  padding-right: 6px;
  padding-top: 10px;
  float: left !important;
  padding: 0;
}
footer .footermin3 .post-title ul li .pic-post img {
  margin-right: 10px;
  margin-top: 5px;
  width: 70px;
  vertical-align: middle;
  max-width: 100%;
  height: 45px;
}
footer .footermin3 .post-title ul li .text-post {
  line-height: 20px;
  font-size: 1.6875rem;
}
footer .footermin3 .post-title ul li .text-post h3 {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 22px;
  margin: 0;
}
footer .footermin3 .post-title ul li .text-post h3 a:hover {
  color: #FFF;
}
footer .footermin3 .post-title ul li .text-post h3 a {
  color: #FFF;
}
footer .footermin3 .post-title ul li .text-post p {
  color: #6f6f6f;
  font-size: 14px;
}
footer .footermin4 {
  margin-top: 40px;
}
footer .footermin4 .nav-title ul {
  padding-left: 0px;
  list-style: none;
  line-height: 1.6;
}
footer .footermin4 .nav-title ul li a {
  color: #AAA;
  line-height: 28px;
}
.footer-final {
  background-color: #1f1f1f;
  padding-top: 1em;
  margin-bottom: 0;
}
.footer-final text-final {
  width: 33.33333%;
}
.footer-final p:first-child {
  color: #777;
}
.footer-final p:first-child a:hover {
  text-decoration: underline;
  color: #106eaa;
}
.footer-final p:first-child a {
  color: #FFF;
}
.footer-final p:last-child {
  float: right;
  color: #777;
}
