.type .container {
  width: 1280px;
  margin: 0 auto;
}
.type .row {
  margin-left: -15px;
  margin-right: -15px;
}
.type .col-md-4 {
  width: 33.33%;
}
.type .clear {
  clear: both;
}
.type * {
  box-sizing: border-box;
}
.type .img {
  margin: 4px;
}
.type .hinh1 img {
  margin-left: 35px;
}
.type .hinh3 img {
  margin-left: -35px;
  margin-bottom: 10px;
}
